<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>

<P class="animated fadeIn">
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacinia vehicula nisi non sodales. Quisque aliquet felis
  sit amet augue suscipit, in tempor odio aliquam. Maecenas rutrum, odio et fringilla efficitur, elit augue dignissim nisl,
  vitae sagittis lectus mi sed velit. Donec maximus nisi tortor, sit amet placerat turpis pulvinar at. Curabitur in blandit
  massa, id feugiat nisl. Proin tempor, leo at rhoncus pretium, mauris odio viverra velit, in viverra nisi nisl non orci. Suspendisse
  placerat sit amet augue nec convallis. Phasellus in iaculis turpis, nec consectetur risus. Vivamus gravida leo elit, et tempus
  lectus mollis quis. Nunc tempus aliquet diam in laoreet. Nam quis elit felis. Vestibulum venenatis, nisl id sollicitudin
  blandit, purus est mattis magna, vitae aliquet eros elit sit amet purus. Pellentesque luctus mauris eu augue feugiat porttitor.
  Vivamus sed ultrices purus. Nam ac leo efficitur, vestibulum quam eu, fringilla elit.

</P>